.full-page > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 90%;
}

.full-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}

#current-location,
.grid-child {
  overflow-x: hidden;
}

.grid {
  display: grid;
  height: 100dvh;
  align-items: center;
  grid-template-columns: 100vw 100vw 100vw;
}

.grid-child {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100dvh;
}

#forecast.grid-child {
  display: grid;
  grid-template-columns: repeat(5, 220px);
  gap: 30px;
  align-items: none;
}

.card {
  display: grid;
  border: 1px solid white;
  border-radius: 5%;
  justify-items: center;
}
